@model ClassifiedAds.Data.Dtos.Advertisement

@{
    ViewData["Title"] = "Create Advertisement";
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Create" class="form-style-7">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <ul>
        <li>
            <label asp-for="Title"></label>
            <input asp-for="Title"/>
            <span asp-validation-for="Title"></span>
        </li>
        <li>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" oninput="adjust_textarea(this)"></textarea>
            <span asp-validation-for="Description"></span>
        </li>
        <li>
            <label asp-for="Address"></label>
            <input asp-for="Address"/>
            <span asp-validation-for="Address"></span>
        </li>
        <li>
            <label asp-for="CostPerClick"></label>
            <input asp-for="CostPerClick"/>
            <span asp-validation-for="CostPerClick"></span>
        </li>
        <li>
            <input type="submit" value="Create" />
            <a asp-action="Index">Back</a>
        </li>
    </ul>
</form>

<script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
