@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This web application servers two purposes: </p>
<ul>
    <li>Allow advertisers to post their advertisements to the board, with a link to their product</li>
    <li>Allow normal users to login with their social media accounts and share these advertisements on their social media account and get paid for each click</li>
</ul>
