@using Microsoft.AspNetCore.Identity
@using ClassifiedAds.Data
@inject SignInManager<ApplicationIdentityUser> SignInManager
@inject UserManager<ApplicationIdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div id="register-drawer" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeRegisterDrawer()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <form id="external-account" class="col-md-6" asp-area="Identity" asp-page="/Account/ExternalLogin" method="post">
            <a type="submit" onclick="this.closest('form').submit();return false;" href="#">Register as a user</a>
        </form>
        <div class="vertical-divider"></div>
        <a class="col-md-6 overlay-button" asp-area="Identity" asp-page="/Account/Register">Register as an advertiser</a>
    </div>

</div>

<div id="login-drawer" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeLoginDrawer()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <form id="external-account" class="col-md-6" asp-area="Identity" asp-page="/Account/ExternalLogin" method="post">
            <a type="submit" onclick="this.closest('form').submit();return false;" href="#">Login as a user</a>
        </form>
        <div class="vertical-divider"></div>
        <a class="col-md-6 overlay-button" asp-area="Identity" asp-page="/Account/Login">Login as an advertiser</a>
    </div>

</div>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.Name!</a>

        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="#" onclick="toggleRegisterDrawer()">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#" onclick="toggleLoginDrawer()">Login</a>
        </li>
    }
</ul>

<script>
    window.onload = (e) => {
        window.addEventListener("resize", sizeChanged);
        jQuery('.navbar-collapse').on('show.bs.collapse', function () {
            closeRegisterDrawer();
            closeLoginDrawer();
        });
        jQuery('.navbar-collapse').on('hide.bs.collapse', function () {
            closeRegisterDrawer();
            closeLoginDrawer();
        });
        jQuery('.navbar-collapse').on('shown.bs.collapse', function () {
            sizeChanged();
        });
        jQuery('.navbar-collapse').on('hidden.bs.collapse', function () {
            sizeChanged();
        });
    }

    function sizeChanged() {
        updateDrawer(document.getElementById("register-drawer"), null);
        updateDrawer(document.getElementById("login-drawer"), null);
    }

    function toggleRegisterDrawer() {
        closeLoginDrawer();

        if (getComputedStyle(document.getElementById("register-drawer")).height == "0px") {
            updateDrawer(document.getElementById("register-drawer"), true);
        } else {
            updateDrawer(document.getElementById("register-drawer"), false);
        }
    }

    function toggleLoginDrawer() {
        closeRegisterDrawer();

        if (getComputedStyle(document.getElementById("login-drawer")).height == "0px") {
            updateDrawer(document.getElementById("login-drawer"), true);
        } else {
            updateDrawer(document.getElementById("login-drawer"), false);
        }
    }

    function updateDrawer(drawer, open) {
        var navHeight = document.getElementsByTagName("nav")[0].offsetHeight + "px";
        drawer.style.top = navHeight;

        if (open == true) {
            var top = getComputedStyle(document.getElementById("login-drawer")).top;
            var footer = getComputedStyle(document.getElementsByTagName("footer")[0]).lineHeight;
            drawer.style.height = "calc(100% - " + top + " - " + footer + ")";
        } else if (open == false) {
            drawer.style.height = "0%";
        } else if (open == undefined) {
            if (getComputedStyle(drawer).height != "0px") {
                var top = getComputedStyle(document.getElementById("login-drawer")).top;
                var footer = getComputedStyle(document.getElementsByTagName("footer")[0]).lineHeight;
                drawer.style.height = "calc(100% - " + top + " - " + footer + ")";
            }
        }
    }

    function closeRegisterDrawer() {
        document.getElementById("register-drawer").style.height = "0%";
    }

    function closeLoginDrawer() {
        document.getElementById("login-drawer").style.height = "0%";
    }
</script>

